.description {
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-image: linear-gradient(rgba(138, 186, 86, 0), rgba(138, 186, 86, 0.3) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: 0 0%, center top;
  color: #fff
}

.description-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

.description-logo {
  float: left;
  width: 30px;
  height: auto;
  margin-top: 15px;
  border: 3px solid #DC4C46;
}

.description-item {
  padding-left: 50px;
}

.description-item .text {
  margin-top: 5px;
  font-style: italic;
}

.description .title-large {
  margin-bottom: 20px;
}
