.form {
  padding-top: 30px;
}

.form-title {
	font-family: 'Montserrat', sans-serif;
  font-size: 1em;
	text-align: center;
	margin-bottom: 20px;
}

.form .title-large {
	text-align: center;
	margin-bottom: 10px;
}

.form .title-small {
	margin: 0;
}

.form-items {
	display: inline-block;
	float: left;
	max-width: 450px;
	padding-left: 40px;
}

.form .button {
	margin-top: -15px;
}
