.specification {
  padding-top: 40px;
  padding-bottom: 40px;
}

.specification-image {
  display: inline-block;
  float: left;
}

.specification-logo {
  border: 3px solid #EADEDB;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.specification-text {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  max-width: 200px;
  margin-left: 10px;
}
